body {
    font-family: 'PT Serif', serif;
}
*:focus {
    outline: none;
}
.mainLoginInput::-webkit-input-placeholder {
    font-family: 'PT Serif', serif;
}

.mainLoginInput:-ms-input-placeholder {
    font-family: 'PT Serif', serif;
}

.mainLoginInput:-moz-placeholder {
    font-family: 'PT Serif', serif;
}



.wrapper {
    width: 100%;
    min-height: 100vh;
}

.container_basic {
    max-width: 800px;
    padding: 0 8px 0 8px;
    margin: auto;
}

.aligner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_login {
    position: relative;
    top: -10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {
    position: fixed;
    top: 8px;
    right: 8px;
}
.s_img {
    max-width: 25px;
}

.game-title {
    display: flex;
    justify-content: center;
    margin-bottom: 12vh;
}
.game-title h1 {
    font-size: 55px;
}

.form-container {
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.border {
    margin: 4px 0 4px 0;
    width: 100%;
    border-bottom: 1px solid #111;
}

.form-container-login input{
    text-align: center;
}


/*
FORMS
 */
input{
    display: block;
    width: 100%;
    padding: 4px 2px 4px 2px;
    background-color: #EDEDED;
    border-width: 0px;
    border: none;
}
input[type="submit"]{
    margin-top: 20px;
    display: block;
    background-color: #fff;
}
.alert--danger {
    margin-bottom: 10px;
}
::placeholder {
    color: #111;
}

/*
Page
 */

.bckg-grey {
    padding: 5px;
    background-color: #EDEDED;
}

.menuGrid > div {
    padding: 8px;
}